* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
}
.clearfix{clear: both;}

/* start navbar ------------------------------------*/
.nav-container{
    width: 100%;
    height: 70px;
    background-color: #101010;
position: fixed;
z-index: 1;
}
.logo{ float: left;
    color: #1abc9c;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 20px;
}
ul{
    text-decoration: none;
    display: inline-block;
    float: right;
}
ul li { 
    display: inline-block;
    margin-right: 20px;
    margin-left: 25px;
    margin-top: 30px;
}
li a{
    text-decoration: none;
    color: #aaa9a9;
    font-size: 20px;
}
li a:hover {
    text-decoration: underline;
    color: #1abc9c;
}

/* end navbar ////////////////////////*/
/* start section1 */
.section1 { position: relative;
    height: 100vh;
    background-image:url(../img/pexels-pixabay-207756.jpg);
background-size: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.home-title {
    width: 60%;
    text-align: center;
    position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
}
.home-title h2{
    color: #aaa9a9;
    font-size: 50px;
}
.home-title p{
    color: white;
    margin: 15px 0px;
    letter-spacing: 2px;
    font-size: 25px;
}
.home-btn{
    width: 150px;
    padding: 12px 5px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}
.home-btn1 {
background-color: #aaa9a9;
color: white;
margin-right: 15px;
}
.home-btn:hover{
    opacity: 0.4;
} 
/* end of section1////////////////////////////// */
/* start of section2 --------------------------------*/
.dad{  float: left;
    width: 95%;
    height: 400px;
    background-color: #eeecec;
margin: 40px 30px;
}
.courses{ text-align: center;
    margin-top: 40px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.line{    display: block;
    width: 100px;
    height: 4px;
    background-color: #1abc9c;
    margin: 0 auto 70px auto;}
.firstDiv{ position: relative;
    text-align: center;
    width: 20%;
    height: 60%;
    border: 2px solid rgb(207, 203, 203);
    margin: auto 5%;
    border-radius: 9px;
    float: left;
}
.firstDiv::after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #1abc9c;
}
.firstDiv:hover::after{
width: 100%;
height: 100%;
opacity: 0.6;
transition: 4s;
}
.course-title{
    margin: 20px;
    cursor: pointer;
    color: #909090;}
 .course-title:hover{text-decoration: underline;
 color: #1abc9c;}
.map{
    font-size: 20px;
}
.read{ display: block;
margin-top: 50px;
text-decoration: none;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;}
.read:hover{text-transform: uppercase;
color:#1abc9c}
/* end of section2 /////////////////////////////////////*/
/* start of section3 */
.view-most{ margin-left: 30px;
margin-top: 30px;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
color: #1abc9c;
text-shadow: 1px 1px 5px #101010;}
.parents{ width: 100%;
height: 700px;
background-color: rgb(198, 208, 214);
float: left;
overflow: auto;}

.most-order{ position: relative;
width: 300px;
height: 250px;
margin: 30px 50px;
float: left;
box-shadow: 2px 2px 5px #1abc9c;
 }
 .most-order::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: #cecccc;
 }
 .most-order:hover::after{
    width: 100%;
    height: 100%;
opacity: 0.6;
transition: 3s;
 }
 .most-order h3{
    text-align: center;
    margin-top: 50px;
    color: #909090;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 5px #1abc9c;
    cursor: pointer;
 }
 .most-order h3:hover{text-transform: uppercase;
    color: white;}
 .java{ background-image: url(../img/java2.jpg);
background-size: cover;
 }
 .python{ background-image: url(../img/python.jpg);
    background-size: cover;
     }
.react{ background-image: url(../img/react.jpg);
    background-size: cover;
     }
.machlearn{ background-image: url(../img/machine\ learning.jpg);
    background-size: cover;}
.node{ background-image: url(../img/node.jpg);
    background-size: cover;
     }
 .datasc{ background-image: url(../img/data.jpg);
    background-size: cover;
     }   
     /* end of section3 ////////////////////////////*/
     /* start of section 4 ---------------------------*/
.parent4 { margin: 50px 30px;
float: left;}
.sec4{width: 25%;
height: 350px;
border: 2px solid darkcyan;
float: left;
margin: 30px 20px;
border-radius: 16px;
box-shadow: 1px 1px 5px #1abc9c ;
position: relative;
}
.sec4::before{position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #19d8b2;
    opacity: 0;
}
.sec4:hover::before{
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: 3s;
}
.offers{
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
color: #101010;
text-shadow: 1px 1px 5px #1abc9c;
}
.sec4-title {
text-align: center;
margin-top: 30px;
color: #909090;
text-transform: capitalize;
}
.trainer{
margin-top: 10px;
margin-left: 30px;
text-transform: capitalize;
color: #1abc9c;
font-size: 20px;
}
.sec4icon{
    display: inline-block;
    color: #909090;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
}
.sec4icon .fas{ color:orangered}
.sec4-price .price{display: inline-block; 
    text-decoration: line-through;}
.sec4-price{
margin-left: 30px;
margin-top: 10px;
font-size: 25px;
font-weight: 600;
}
.apply {
    padding: 15px;
    border: 1px solid orangered;
    background-color: #d3d0d0;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
}
.apply:hover{
    text-transform: uppercase;
    color: #1abc9c;
}
.best{ 
    padding: 10px;
    border: 1px solid orangered;
    background-color: #909090;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    margin-left: 12px;
}
     /* end of section 4//////////////////////// */
     /* start of section 5 */

.sec5title h2{text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.sec5-content{width: 90%;
    float: left;
}
.sec5-img img{ 
    width: 300px;
    height: 250px;
        float: left;
        margin: 30px 20px;
    }
.sec5-content p{
float: left;
margin: 30px 20px;
color: #909090;
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
line-height: 30px;
letter-spacing: 1.5px;
}
.sec5icons .sec5icon{
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}
.sec5-input {
float: right;
width: 20%;
}
.sec5-input .sec5In{
    margin-right: 5px;
}
/* end of section 5////////////////////// */
/* start of sec 6 */
.parentSec6{position: relative;
    background-image: url(../img/pexels-александар-цветановић-1422292.jpg);
    width: 100%;
    height: 70vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
margin-top: 100px;
float: left;
}
.sec6overlay{position: absolute;
    top: 0;
    left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
}
.sec6icon{ float: left;
    width: 15%;
    height: 70%;  
    border: none;
    align-items: center;
}
.sec6icon .icons{display: inline-block;
    position: absolute;
    color: white;
    font-size: 60px;
    text-align: center;
    margin: 10% 20%;

}
.sec6icon .sec6title{position: absolute;
    font-size: 30px;
    color: #1abc9c;
    margin: 20% 20%;
}
/* end of sec 6////////////////////////// */

/* start of section 7-------------- */
.sec7{ float: left;
    width: 100%;
    background-color: #cecccc;
}
.title h2 {margin-top: 40px;
text-align: center;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
text-transform: capitalize;}
.sec7-price {position: relative;
width: 20%;
height: 450px;
border: 2px solid #909090;
box-shadow: 2px 2px 5px #19d8b2;
margin: 20px 5% 50px 5%;
float: left;
}
.sec7-price::after{
position: absolute;
content: "";
width: 0;
height: 0;
top: 0;
left: 0;
opacity: 0;
background-color: #aaa9a9;
}
.sec7-price:hover::after{
width: 100%;
height: 100%;
opacity: 0.6;
transition: 4s;
}
.sec7-price h3{
    text-align: center;
    color: #909090;
    margin-top: 30px;
    font-size: 30px;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px #19d8b2;;
}
.amount{
width: 100px;
height: 100px;
border: 1px solid black;
border-radius: 50%;
margin: 40px 30%;
background-color: #19d8b2;

}
.amount h4{
    text-align: center;
    font-size: 25px;
    margin: 35% 23%;
}
.sec7-corsdetail{font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
margin-left: 20px;
margin-top: 30%;
color: #909090;
cursor: pointer;
}
.sec7-corsdetail:hover{color: #101010;
    text-transform: uppercase;
}
/* end of section 7////////////////////////// */

/* start of section 8////////// */
.sec8{ 
    width: 100%;
    height: 50vh;
    background-image: url(../img/sky.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: relative;
}
.sec8overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.sec8title h2{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;}
   .sec8title{position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}
.sec8btn{ align-items: center;
    width: 250px;
    padding: 12px 5px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    margin: 5% 35%;
    text-transform: capitalize;
color: white;
background-color: #1abc9c;
}
.sec8btn:hover{
    border:2px solid orangered;
    color: orangered;
}
/* end of section 8//////////////////////////////////// */
/* start of section 9------------------- */
.team-content{
background-color: #aaa9a9;
width: 100%;

}
.team-content-title h2{
    margin-top: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #101010;
    text-shadow: 1px 1px 5px #1abc9c; 
}
.team-item{position: relative;
    float: left;
    width: 45%;
    background-color: #1abc9c;
    padding: 15px 20px;
    margin: 50px 2%;
    text-align: center;
}
.team-img{
width: 85%;
margin: auto;
position: relative;
}
.team-img img{
    width: 100%;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: visible;
    opacity: 0.6;
    transition: 3s ease;
}
.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
  
}
.team-overlay i{
    display: block;
  font-size: 30px; 
  color: white; 
  
}
.team-overlay a{display: block;
    text-decoration: none;
width: 40px;
height: 30px;
margin-left: auto;
margin-top: 10px;
}
.team-item::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    background-color:black;
    
}

.team-item:hover::after{
width: 100%;
height: 100%;
opacity: 0.6;
transition: 3s ease;
}
/* end of section 9////////////////////////////// */

/* start of last-section---------------- */
.last-sec{ position: relative;
width: 100%;
height: 30vh;
background-image: url(../img/sky.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
float: right;
}
.last-sec-term .last-sec-link{
    color: white;
    margin-top: 40%;
    text-decoration: none;
}
.last-sec-link:hover{
    text-transform: uppercase;
    color: #19d8b2;
}
.last-sec-icons{
    float: left;
    display: inline-block;
    width: 20%;
    margin: 5% 5%;
}
.last-sec-icons a{ text-decoration: none;}
.lasec{ float: left;
    font-size: 30px;
    color: white;
    margin: 25% 10px 0 3%;
}
.lasec:hover{
    font-size: 40px;
    color: #19d8b2;
}
.last-sec p{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
color: white;
margin-left: 10px;
margin-top: 12%;
}
.last-sec-span{
    font-size: 30px;
    font-weight: 600;
    color: #19d8b2;
}
/* end of last section-------------------- */